[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/carbon/Desktop/Forest-trees-sunset-art-picture_2560x1920.jpg]
row=2
col=0

[/home/carbon/Desktop/书单]
row=3
col=0

[/]
row=1
col=0

[/home/carbon]
row=0
col=0

