[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/carbon/Desktop/书单]
row=2
col=0

[/home/carbon/Desktop/xfce-desktop-config]
row=4
col=0

[/home/carbon/Desktop/web]
row=3
col=0

[/]
row=1
col=0

[/home/carbon]
row=0
col=0

