[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/carbon/Desktop/Ant]
row=2
col=0

[/home/carbon/Desktop/截图_2020-05-08_17-47-10.png]
row=3
col=0

[/]
row=1
col=0

[/home/carbon]
row=0
col=0

